Repository wwwdevcc/projects, pull requests merged in 2024-11, with the labels that each got.

#17 feat: Initialize Frontend Setup
  frontend/.eslintignore
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.cjs
  frontend/public/favicon.svg
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/about.lazy.tsx
  frontend/src/routes/index.lazy.tsx
  frontend/src/theme.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend

#24 Installed and setup vitest and testing with ThemeToggle
  frontend/.prettierrc.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/theme/ThemeToggle.tsx
  frontend/src/components/theme/__tests__/ThemeToggle.test.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.setup.mjs
Labels: frontend

#28 fix/Ensures router typesafety
  frontend/src/main.tsx
Labels: bug, frontend

#29 Setup default styling for TextInput and PasswordInput components
  frontend/.prettierrc
  frontend/.prettierrc.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layout/Layout.module.css
  frontend/src/components/layout/Layout.tsx
  frontend/src/features/auth/login/Login.module.css
  frontend/src/features/auth/login/Login.tsx
  frontend/src/features/auth/register/Register.module.css
  frontend/src/features/auth/register/Register.tsx
  frontend/src/features/auth/shared/schema.ts
  frontend/src/features/auth/shared/types.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/about.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/register.tsx
  frontend/src/theme.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Labels: enhancement, frontend

#31 feat: Implement Forgot Password and Reset Password functionality
  frontend/src/features/auth/forgot-password/ForgotPassword.module.css
  frontend/src/features/auth/forgot-password/ForgotPassword.tsx
  frontend/src/features/auth/reset-password/ResetPassword.module.css
  frontend/src/features/auth/reset-password/ResetPassword.tsx
  frontend/src/features/auth/shared/schema.ts
  frontend/src/features/auth/shared/types.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/forgot-password.tsx
  frontend/src/routes/reset-password.tsx
Labels: frontend

#26 feat: setup authentication for the app
  backend/.env.example
  backend/app/Http/Controllers/Auth/AuthenticatedSessionController.php
  backend/app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  backend/app/Http/Controllers/Auth/NewPasswordController.php
  backend/app/Http/Controllers/Auth/PasswordResetLinkController.php
  backend/app/Http/Controllers/Auth/RegisteredUserController.php
  backend/app/Http/Controllers/Auth/VerifyEmailController.php
  backend/app/Http/Kernel.php
  backend/app/Http/Middleware/EnsureEmailIsVerified.php
  backend/app/Http/Requests/Auth/LoginRequest.php
  backend/app/Models/User.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Providers/AuthServiceProvider.php
  backend/app/Providers/RouteServiceProvider.php
  backend/app/Providers/TelescopeServiceProvider.php
  backend/composer.json
  backend/composer.lock
  backend/config/app.php
  backend/config/cors.php
  backend/config/sanctum.php
  backend/config/telescope.php
  backend/database/migrations/2014_10_12_000000_create_users_table.php
  backend/database/migrations/2018_08_08_100000_create_telescope_entries_table.php
  backend/package.json
  backend/public/vendor/telescope/app-dark.css
  backend/public/vendor/telescope/app.css
  backend/public/vendor/telescope/app.js
  backend/public/vendor/telescope/favicon.ico
  backend/public/vendor/telescope/mix-manifest.json
  backend/resources/css/app.css
  backend/resources/js/app.js
  backend/resources/js/bootstrap.js
  backend/resources/views/.gitkeep
  backend/resources/views/welcome.blade.php
  backend/routes/api.php
  backend/routes/auth.php
  backend/routes/web.php
  backend/tests/Feature/Auth/AuthenticationTest.php
  backend/tests/Feature/Auth/EmailVerificationTest.php
  backend/tests/Feature/Auth/PasswordResetTest.php
  backend/tests/Feature/Auth/RegistrationTest.php
  backend/vite.config.js
Labels: backend

#35 fix: Implement password confirmation field and validation
  frontend/src/features/auth/register/Register.tsx
  frontend/src/features/auth/shared/schema.ts
Labels: bug, frontend

#37 32: add constraint to make username unique
  backend/app/Http/Controllers/Auth/RegisteredUserController.php
  backend/composer.json
  backend/composer.lock
  backend/database/migrations/2024_11_21_163246_add_unique_username_to_users_table.php
Labels: backend

#45 Refactor Login component: Remove "Keep Logged In" checkbox
  frontend/src/features/auth/login/Login.tsx
  frontend/src/features/auth/login/README.md
Labels: bug, frontend
